@use "../../../../assets/scss/colors" as colors;

.footer-container{
  display: flex;
  height: 78px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  background: colors.$color-white;
  
  .btn-left{
    border: none;
    height: 48px;
    width: 218px;
    background: colors.$primary-blue-color;
    margin-left: 25px;
    color: colors.$color-white;
  }
  .btn-right{
    width: 224px;
    height: 48px;
    border: 1px solid #165C7D;
    background-color: colors.$nutral-lighter-color;
    margin-left: 20px;
    color: colors.$primary-blue-color;
  }
}